@model Todoku.Models.PurchaseOrderInformation
@{
    ViewBag.Title = "Todoku";
}

<div style="height:200px;">
    <h2>Informasi Pemesanan</h2>
    @if (Model.lstPurchaseOrder != null) 
    {
        <table>
            <tr>
                <td>Keterangan</td>
                <td>Status</td>
            </tr>
            @foreach (var item in Model.lstPurchaseOrder) 
            { 
                <tr>
                    <td>@item.OrderNo</td>
                    <td>@item.ScOrderStatus.StandardCodeName</td>
                </tr>
            }
        </table>
    }
</div>

<div style="height:200px;">
    <h2>Informasi Pembayaran</h2>
    @if (Model.lstPurchaseReceive != null) 
    {
        <table>
            <tr>
                <td>Keterangan</td>
                <td>Status</td>
            </tr>
            @foreach (var item in Model.lstPurchaseReceive) 
            { 
                <tr>
                    <td>@item.ReceiveNo</td>
                    <td>@item.ScReceiveStatus.StandardCodeName</td>
                </tr>
            }
        </table>
    }
</div>

<div style="height:200px;">
    <h2>Informasi Pengiriman</h2>
    @if (Model.lstItemDelivery != null) 
    {
        <table>
            <tr>
                <td>Keterangan</td>
                <td>Status</td>
            </tr>
            @foreach (var item in Model.lstItemDelivery) 
            { 
                <tr>
                    <td>
                        Resi : @item.ReceiptNumber<br/>
                        @foreach (var obj in item.itemdeliverydts) 
                        { 
                            @Html.Label("- " + obj.product.ProductName + " x " + obj.Quantity + " pcs")  <br/>
                        }
                    </td>
                    <td>
                        @item.ScDeliveryStatus.StandardCodeName
                    </td>
                </tr>
            }
        </table>
    }
</div>

