@model List<Todoku.Models.ItemDeliveryHd>
@{
    ViewBag.Title = "Todoku";
}

<script type="text/javascript">
    $(function () {
        $("body").on("click", ".txtProcess", function () {
            $tr = $(this).closest('div');
            var data = {
                DeliveryID: $tr.find("#item_DeliveryID").val(),
                ReceiptNumber: $tr.find("#item_ReceiptNumber").val()
            };

            OnSaveData('@Url.Content("~/Merchants/Home/ProcessPackage")', data, function () {
                window.location.href = '@Url.Content("~/Merchants/Detail/")' + $tr.find("#item_MerchantID").val();
            });
        });
    });
</script>

<h2>Pengiriman</h2>

@foreach (var item in Model) 
{ 
    <div style="border:1px solid black;">
        <table>
            <tr>
                <td>
                    @Html.HiddenFor(x => item.DeliveryID)
                    @Html.HiddenFor(x => item.MerchantID)
                    @Html.LabelFor(x => item.pohd.OrderNo)
                </td>
                <td>:</td>
                <td>@Html.DisplayFor(x => item.pohd.OrderNo)</td>
            </tr>
            <tr>
                <td colspan="3">Alamat</td>
            </tr>
            <tr>
                <td colspan="3">@Html.DisplayWithBreaksFor(x => item.Address)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => item.ReceiptNumber)</td>
                <td>:</td>
                <td>@Html.EditorFor(x => item.ReceiptNumber)</td>
            </tr>
        </table>
        <table>
            @foreach (var obj in item.itemdeliverydts)
            { <tr>
                <td>@Html.LabelFor(x => obj.product.ProductName)</td>
                <td>:</td>
                <td>@Html.DisplayFor(x => obj.product.ProductName)</td>
                    
                <td>@Html.LabelFor(x => obj.Quantity)</td>
                <td>:</td>
                <td>@Html.DisplayFor(x => obj.Quantity) pcs</td>                    
                </tr>
            }
        </table>
        @Html.Button("Proses", new { @class = "txtProcess" })
    </div>
}