@model Todoku.Models.MerchantRegistration
@{
    ViewBag.Title = "Todoku";
}

<h2>Pendaftaran</h2>

<div>
    @using (Html.BeginForm("Register", "Registration"))
    {
        @Html.ValidationSummary(true, "Registration was unsuccessful. Please correct the errors and try again.")
        <div>
            <fieldset>
                <legend>Registrasi</legend>

                <div class="editor-label">
                    @Html.LabelFor(m => m.MerchantName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.MerchantName)
                    @Html.ValidationMessageFor(m => m.MerchantName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.Country)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("address.Country", (SelectList)ViewBag.Country)
                    @Html.ValidationMessageFor(m => m.address.Country)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.Province)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("address.Province", (SelectList) ViewBag.Province)
                    @Html.ValidationMessageFor(m => m.address.Province)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.City)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.address.City)
                    @Html.ValidationMessageFor(m => m.address.City)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.Address)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.address.Address)
                    @Html.ValidationMessageFor(m => m.address.Address)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.ZipCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.address.ZipCode)
                    @Html.ValidationMessageFor(m => m.address.ZipCode)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.Phone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.address.Phone)
                    @Html.ValidationMessageFor(m => m.address.Phone)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.Handphone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.address.Handphone)
                    @Html.ValidationMessageFor(m => m.address.Handphone)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.address.Email)
                    @Html.ValidationMessageFor(m => m.address.Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.Email2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.address.Email2)
                    @Html.ValidationMessageFor(m => m.address.Email2)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.address.FaxNo)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.address.FaxNo)
                    @Html.ValidationMessageFor(m => m.address.FaxNo)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>

                <p>
                    <input type="submit" value="Next" />
                </p>
            </fieldset>        
        </div>
    }
</div>

<div>
    <fieldset>
        <legend>Info Produk</legend>
        @using (Html.BeginForm("UploadFile", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            <div class="editor-label">
                @Html.Label("Range Harga")
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.StartPrice, "Price") s/d 
                @Html.EditorFor(m => m.EndPrice, "Price")
            </div>

            <div>
                <fieldset>
                    <legend>Upload</legend>
                    <div>
                        @Html.HiddenFor(m => m.RegistrationID)

                        <div class="editor-label">@Html.Label("Nama")</div>
                        <div class="editor-field">@Html.TextBox("ProductName")</div>
                                
                        <div class="editor-label">@Html.Label("Deskripsi")</div>
                        <div class="editor-field">@Html.TextArea("ProductDescription")</div>
                                
                        <div class="editor-field">
                            <label for="file">File :</label>
                            <input type="file" name="file" id="file" />
                        </div>
                        <p><input type="submit" value="Upload" /></p>
                    </div>
                </fieldset>
            </div>
        }
        <table class="grdView">
            <colgroup>
                <col width="270px" />
                <col />
                <col width="220px" />
            </colgroup>
            <thead>
                <tr>
                    <td>Nama Produk</td>
                    <td>Deskripsi</td>
                    <td>Sampel</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.details)
                { 
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Description</td>
                        <td><img src='@Url.Content(@item.ImgLink)' alt="Sampel Produk" style="max-height:100px; max-width:100px;" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <p><input type="button" value="Submit" /></p>
    </fieldset>
</div>