<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            var category = $('#cboSrchCategory').find('option:selected').val();
            var item = $('#txtSrchName').val();
            window.location.href = "@Url.Content("~/Stores")?category="+category+"&filterExpression="+item;
        });
    });
</script>
<div id="logo">
    <a href="@Url.Content("~/")">TODOKU</a>
</div>
<div id="navbar">
    <input type="text" placeholder="Cari Produk" id="txtSrchName" value="@Request["filterExpression"]" />
    <select id="cboSrchCategory">
    @foreach (var item in (List<Todoku.Models.StandardCode>)ViewBag.Categories)
    { 
        <option value="@item.StandardCodeID"  @(Request["category"] == item.StandardCodeID ? "selected='selected'" : "")>@item.StandardCodeName</option>  
    }
    </select>
    <input type="button" value="Cari" id="btnSearch"/>
</div>
<div id="headerLink">
    <div><a href="#" >Bantuan</a></div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            @Html.ActionLink(User.Identity.Name, ((Todoku.Models.Dashboard)ViewBag.DefaultPage).Action, ((Todoku.Models.Dashboard)ViewBag.DefaultPage).Controller, new { area = ((Todoku.Models.Dashboard)ViewBag.DefaultPage).scarea.StandardCodeName, DashboardID = ((Todoku.Models.Dashboard)ViewBag.DefaultPage).DashboardID }, null)
        </div>
        <div>
            <a href="@Url.Content("~/Cart")" >Cart @(Convert.ToInt32(ViewData["CartQty"]) > 0 ? "(" + ViewData["CartQty"] + ")" : "")</a>
        </div>
        <div style="border-right:1px solid #D9D9D9;">
            <a href="@Url.Content("~/Account/LogOff")" >Keluar</a>
        </div>
    }
    else
    { 
        <div><a href="@Url.Content("~/Registration/")" >Daftar</a></div>
        <div>
            <a href="@Url.Content("~/Cart")" >Cart @(Convert.ToInt32(ViewData["CartQty"]) > 0 ? "(" + ViewData["CartQty"] + ")" : "")</a>
        </div>
        <div style="border-right:1px solid #D9D9D9;">
            <a href="@Url.Content("~/LogOn")" >Masuk</a>
        </div>
    }
</div>