@model Todoku.Models.PurchaseOrderHd

@{
    ViewBag.Title = "Index";
}

<h2>Konfirmasi Pemesanan</h2>

<div class="editor-label">
    @Html.LabelFor(model => model.OrderNo)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.OrderNo)
</div>

@foreach (var item in Model.orderdetails)
{ 
    <div style="width:100%; border:1px solid black; margin-bottom:5px;">
        <img alt="Image not found" style="max-height:75px; max-width:75px;" src="@Url.Content(@item.cart.product.ImgLink)" onError="this.src='@Url.Content("~/Uploads/Todoku/Produk/Default/img_not_found.jpg")'"/>
        <div>@Html.DisplayFor(model => item.cart.product.ProductName)</div>
        <div>Harga : @Html.DisplayFor(x => item.cart.product.detail.Price)</div>
        <div>Jumlah @Html.DisplayFor(model => item.cart.Quantity) pcs</div>
        <div>Total @Html.DisplayFor(model => item.cart.LineAmount)</div>
    </div>
}
<p>
    Total Belanjaan : @Model.orderdetails.Sum(x => x.cart.LineAmount).ToString("C")
</p>
@using (Html.BeginForm("Confirmation", "PurchaseOrder"))
{ 
    @Html.HiddenFor(model => model.OrderNo);
    <div class="editor-label">
        @Html.LabelFor(model => Model.AgentID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => Model.AgentID)<input type="button" id="btnSearch" value="Search" />
    </div>
    
    <div class="editor-label">
        @Html.Label("Alamat Pengiriman")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => Model.Address)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.PaymentMehod)
    </div>
    <div class="editor-field">
        <table>
            <colgroup>
                <col width="3px"/>
                <col width="200px"/>
                <col width="100px"/>
                <col width="200px"/>
            </colgroup>
            @foreach (var item in (List<Todoku.Models.Bank>)ViewBag.Banks)
            {
                <tr>
                    <td>@Html.RadioButtonFor(model => Model.BankID, item.BankID, item.BankID == 1 ? new { @checked = true } : null)</td>
                    <td><img src="" class="@item.ImgLink" alt="" onError="this.src='@Url.Content("~/Content/Image/Product/img_not_found.jpg")'" />@item.BankName</td>
                    <td>@item.AccountName</td>
                    <td>No Rekening : @item.AccountNo</td>
                </tr>
            }
        </table>
    </div>
    <div>
        <input type="submit" value="Bayar" />
    </div>
}