@model List<Todoku.Models.PurchaseReceiveHd>

@{
    ViewBag.Title = "Todoku";
}

<script type="text/javascript">
    $('body').on('click', ".btnConfirm", function () {
        $data = $(this).closest("div");
        var arr = new Array();
        var count = 0;
        $(this).closest("div").find('.AgentID').each(function () {
            var d = { OrderID: $('.OrderID').eq(count).val(), AgentID: $(this).val() };
            arr.push(d);
            count++;
        });
        var data = { ReceiveID: $data.find(".keyField").val(), lstAgentID: arr };
        OnSaveData('@Url.Content("~/Members/Admin/PaymentConfirm")', data, function () {
            window.location.href = '@Url.Content("~/Members/Admin/")';
        });
    });

    $('body').on('click', ".btnVoid", function () {
        $data = $(this).closest("div");
        var arr = new Array();
        var count = 0;
        $('.AgentID').each(function () {
            var d = { OrderID: $('.OrderID').eq(count).val()};
            arr.push(d);
            count++;
        });
        var data = { ReceiveID: $data.find(".keyField").val(), lstAgentID: arr };
        OnSaveData('@Url.Content("~/Members/Admin/PaymentVoid")', data, function () {
            window.location.href = '@Url.Content("~/Members/Admin/")';
        });
    });

</script>

<h2>Konfirmasi Pembayaran</h2>

@foreach (var item in Model)
{ 
    <div style="border:1px solid black; margin-bottom:3px;">
        @Html.HiddenFor(model => item.ReceiveID, new { @class = "keyField" })        
        <table>
            <tr>
                <td>@Html.LabelFor(model => item.ReceiveNo)</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.ReceiveNo)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => item.PayerName)</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.PayerName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => item.SenderAccountNo)</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.SenderAccountNo)</td>
            </tr>
            <tr>
                <td>Bank</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.bank.BankName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => item.TransferAmount)</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.TransferAmount)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => item.TotalAmount)</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.TotalAmount)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => item.RefundAmount)</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.RefundAmount)</td>
            </tr>
            @foreach (var detail in item.detail)
            { 
                <tr>
                    <td>@Html.LabelFor(model => detail.order.AgentID) (@Html.DisplayFor(model => detail.order.OrderNo))</td>
                    <td>:</td>
                    <td>
                        @if (detail.order.AgentID == null)
                        {
                            @Html.HiddenFor(model => detail.order.OrderID, new { @class = "OrderID" });
                            <input type="text" value="@detail.order.AgentID" name="detail.order.AgentID" class="AgentID" />
                            @Html.Button("Search", new { Name = "name", Value = "value" });
                        }
                        else
                        {
                            @Html.DisplayFor(model => detail.order.AgentID);
                        }
                    </td>
                </tr>
            }
        </table>
        <p><input type="button" value="Konfirmasi" class="btnConfirm" /> @*<input type="button" value="Batal" class="btnVoid" />*@</p>
    </div>
}