@model List<Todoku.Models.CustomerOrder>
@{
    ViewBag.Title = "Todoku";
}

<script type="text/javascript">
    $(function () {
        $('table').on('click', ".btnProcess", function () {
            $tr = $(this).closest('tr');
            var data = { CustomerOrderID: $tr.find(".hdnCustomerOrderID").val() };
            OnSaveData('@Url.Content("~/Merchants/CustomerOrder/Confirm")', data, function () {
                window.location.href = '@Url.Content("~/Merchants/Detail/")' + $tr.find(".hdnMerchantID").val();
            });
        });

        $('table').on('click', ".btnVoid", function () {
            $tr = $(this).closest('tr');
            var data = { CustomerOrderID: $tr.find(".hdnCustomerOrderID").val() };
            OnSaveData('@Url.Content("~/Merchants/Home/Void")', data, function () {
                window.location.href = '@Url.Content("~/Merchants/Detail/")' + $tr.find(".hdnMerchantID").val();
            });
        });
    });
</script>

<h2>Pemesanan Barang</h2>
<table class="grdView">
    <colgroup>
        <col width="200px"/>
        <col width="150px"/>
        <col width="70px"/>
        <col />
        <col width="150px"/>
    </colgroup>
    <thead>
        <tr>
            <td align="center">Produk</td>
            <td align="left">Keterangan</td>
            <td align="center">Jumlah</td>
            <td align="center">Alamat</td>
            <td align="center"></td>
        </tr>
    </thead>
    @foreach(var item in Model){
        <tr>
            <td>
                @Html.HiddenFor(x => item.MerchantID, new { @class = "hdnMerchantID" })
                @Html.HiddenFor(x => item.CustomerOrderID, new { @class = "hdnCustomerOrderID" })
                @Html.DisplayFor(x => item.product.ProductName)
            </td>
            <td>
                @if(item.Attributes!= null)
                {
                    foreach (String str in item.Attributes.Split('|'))
                    {
                        Int32 AttributeID = Convert.ToInt32(str);
                        Todoku.Models.ProductAttribute entity = ((List<Todoku.Models.ProductAttribute>)ViewBag.ProductAtt).FirstOrDefault(x => x.AttributeID == AttributeID);
                        <div>@Html.Label(String.Format("{0} : {1}", entity.attgroup.GroupName, entity.AttributeName))</div>
                    }
                }
            </td>
            <td align="right">@Html.DisplayFor(x => item.Quantity) Pcs</td>
            <td>
                @Html.DisplayFor(x => item.customer.Fullname)<br/>
                @Html.DisplayWithBreaksFor(x => item.pohd.Address)
            </td>
            <td align="center">
                @if (item.RequestStatus == Todoku.Models.RequestStatus.Booked)
                { 
                    @Html.Label("Booked")
                }
                else if (item.RequestStatus == Todoku.Models.RequestStatus.ConfirmedByAdmin)
                { 
                    @Html.Button("Prosess", new { @class = "btnProcess" })
                }
                @Html.Button("Batal", new { @class = "btnVoid" })
            </td>
        </tr>
    }
</table>