@model List<Todoku.Models.CustomerOrder>

<script type="text/javascript">
    $(function(){
        $('table').on('click', ".lnkProses", function () {
            $tr = $(this).closest('tr');
            var data = { CustomerOrderID: $tr.find(".hdnCustomerOrderID").val() };
            OnSaveData('@Url.Content("~/Merchants/CustomerOrder/Confirm")', data, OnSaveSuccessRefreshPage, OnSaveFailed);
        });

        $('table').on('click', ".lnkVoid", function () {
            $tr = $(this).closest('tr');
            var data = { CustomerOrderID: $tr.find(".hdnCustomerOrderID").val() };
            OnSaveData('@Url.Content("~/Merchants/CustomerOrder/Void")', data, OnSaveSuccessRefreshPage, OnSaveFailed);
        });
    });

    function OnSaveSuccessRefreshPage(result){
        if(result.ok)
            window.location.reload();
        else
            OnSaveFailed(result);
    }

    function LoadOnSaveNotifHandle() {
        var status = @Html.Raw(Json.Encode(TempData["SaveResult"]));
        if(status != null){
            OnSaveSuccess(status.Data);
        }
    }

    function OnSaveSuccess(result) {
        if (result.ok) {
            $('#tmpl-success').tmpl(result).appendTo('#alert-container');
        } else {
            OnSaveFailed(result);
        }
    }

    function OnSaveFailed(result) {
        $('#tmpl-danger').tmpl(result).appendTo('#alert-container');
    }
</script>

<h1 class="page-header">Pemesanan</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="200px"/>
            <col width="150px"/>
            <col width="70px"/>
            <col />
            <col width="150px"/>
        </colgroup>
        <thead>
            <tr>
                <th align="center">Produk</th>
                <th align="left">Keterangan</th>
                <th align="center">Jumlah</th>
                <th align="center">Alamat</th>
                <th align="center"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                { 
                    <tr>
                        <td>
                            @Html.HiddenFor(x => item.MerchantID, new { @class = "hdnMerchantID" })
                            @Html.HiddenFor(x => item.CustomerOrderID, new { @class = "hdnCustomerOrderID" })
                            @Html.DisplayFor(x => item.product.ProductName)
                        </td>
                        <td>
                            @if (item.Attributes != null)
                            {
                                foreach (String str in item.Attributes.Split('|'))
                                {
                                    Int32 AttributeID = Convert.ToInt32(str);
                                    Todoku.Models.ProductAttribute entity = ((List<Todoku.Models.ProductAttribute>)ViewBag.ProductAtt).FirstOrDefault(x => x.AttributeID == AttributeID);
                                    <div>@Html.Label(String.Format("{0} : {1}", entity.attgroup.GroupName, entity.AttributeName))</div>
                                }
                            }
                        </td>
                        <td align="right">@Html.DisplayFor(x => item.Quantity) Pcs</td>
                        <td>
                            @Html.DisplayFor(x => item.customer.Fullname)<br/>
                            @Html.DisplayWithBreaksFor(x => item.pohd.Address)
                        </td>
                        <td align="center">
                            @if (item.RequestStatus == Todoku.Models.RequestStatus.Booked)
                            {
                                <span>Booked</span>
                            }
                            else if (item.RequestStatus == Todoku.Models.RequestStatus.ConfirmedByAdmin)
                            {
                                <a href="#" class="lnkProses">Proses</a>
                            }
                            <div class="divider"></div>
                            @Html.HiddenFor(model => item.CustomerOrderID, new { @class = "hdnCustomerID" })
                            <a href="#" class="lnkVoid">Hapus</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr style="height:50px;">
                    <td colspan="5" style="vertical-align:middle;"><center>No Data to Display</center></td>
                </tr>
            }
        </tbody>
    </table>
</div>