@model List<Todoku.Models.PurchaseReceiveHd>

<script type="text/javascript">
    $(function () {
        $('body').on('click', ".lnkProses", function () {
            $data = $(this).closest("tr");
            var url = '@Url.Content("~/Admin/Confirmation/CustomerPaymentConfirmed")';
            var arr = new Array();
            var count = 0;

            $data.find('.hdnAgentID').each(function () {
                var d = { OrderID: $data.find('.OrderID').eq(count).val(), AgentID: $(this).val() };
                console.log(d);
                arr.push(d);
                count++;
            });
            var data = { ReceiveID: $data.find(".keyField").val(), lstAgentID: arr };
            
            OnSaveData(url, data, OnSaveSuccessRefreshPage, OnSaveFailed);
        });

        $('body').on('click', ".lnkVoid", function () {
            $data = $(this).closest("div");
            var arr = new Array();
            var count = 0;
            $('.AgentID').each(function () {
                var d = { OrderID: $('.OrderID').eq(count).val() };
                arr.push(d);
                count++;
            });
            var data = { ReceiveID: $data.find(".keyField").val(), lstAgentID: arr };
            OnSaveData('@Url.Content("~/Admin/Confirmation/CustomerPaymentVoid")', data, function () {
                window.location.href = '@Url.Content("~/Admin/Confirmation/CustomerPayment")';
            });
        });

        $('body').on('change', '.txtAgent', function () {
            url = window.location.origin + "/Todoku/Ajax/GetListObject/";
            var filterExpression = 'AgentCode = "' + $(this).val() + '" && IsActive && !IsDeleted';
            $txt = $(this);
            GetListObject(url, 'GetAgentList', filterExpression, null, null, function (result) {
                console.log(result);
                if (result.length > 0) {
                    $div = $txt.closest('div');
                    $div.find('.hdnAgentID').val(result[0].AgentID);
                }
                else {
                    $txt.val('');
                }
            });
        });
    });

    function OnSaveSuccessRefreshPage(result){
        if(result.ok)
            window.location.reload();
        else
            OnSaveFailed(result);
    }

    function LoadOnSaveNotifHandle() {
        var status = @Html.Raw(Json.Encode(TempData["SaveResult"]));
        if(status != null){
            OnSaveSuccess(status.Data);
        }
    }
    function OnSaveSuccess(result) {
        if (result.ok) {
            $('#tmpl-success').tmpl(result).appendTo('#alert-container');
        } else {
            OnSaveFailed(result);
        }
    }

    function OnSaveFailed(result) {
        $('#tmpl-danger').tmpl(result).appendTo('#alert-container');
    }
</script>
<h1 class="page-header">Pembayaran</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col width="15%"/>
            <col />
            <col width="13%"/>
            <col width="11%"/>
            <col width="15%"/>
            <col width="20%"/>
            <col width="12%"/>
        </colgroup>
        <thead>
            <tr>
                <th>Pembayaran</th>
                <th>Pengirim</th>
                <th>Rekening</th>
                <th>Transfer</th>
                <th>Transaksi</th>
                <th>Agen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Count() > 0)
            {
                foreach (var item in Model)
                { 
                    <tr>
                        <td>
                            @Html.HiddenFor(model => item.ReceiveID, new { @class = "keyField" })
                            <a href="#">@item.ReceiveNo</a><br/>
                            <label>@Html.DisplayFor(model => item.TotalAmount)</label>
                        </td>
                        <td>@item.PayerName</td>
                        <td>
                            <label>@item.bank.BankName</label><br/>@item.SenderAccountNo<br/><a href="#">Bukti</a>
                        </td>
                        <td><label>@Html.DisplayFor(model => item.TransferAmount)</label></td>
                        <td>
                            <form class="form-inline" role="form">
                                @foreach (var prdt in @item.detail)
                                { 
                                    <div class="form-group">
                                        <a href="#">@prdt.order.OrderNo</a>
                                    </div>
                                }
                            </form>
                        </td>
                        <td>
                            <form class="form-inline" role="form">
                                @foreach (var prdt in @item.detail)
                                { 
                                    <div class="form-group">
                                        @Html.HiddenFor(model => prdt.OrderID, new { @class = "OrderID" })
                                        @if (prdt.order.AgentID == null)
                                        { 
                                            <input type="text" class="form-control input-sm txtAgent" placeholder="Masukkan Kode Agen" />
                                            <input type="hidden" class="hdnAgentID" value="" />
                                            <a href="#">Cari</a>
                                        }
                                        else
                                        { 
                                            <input type="hidden" class="hdnAgentID" value="@prdt.order.AgentID" />
                                            <label>@prdt.order.agent.AgentCode</label>
                                        }
                                    </div>
                                }
                            </form>
                        </td>
                        <td align="center">
                            <a href="#" class="lnkProses">Proses</a><div class="divider"></div><a href="#" class="lnkVoid">Batal</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr style="height:50px;">
                    <td colspan="7" style="vertical-align:middle;"><center>No Data to Display</center></td>
                </tr>
            }
        </tbody>
    </table>
    @{Html.RenderAction("Pagination", "PartialView", new {area = "", Page = ViewBag.Page, Pages = ViewBag.Pages, PageAction = "CustomerPayment", PageController = "Confirmation", PageArea = "Admin" });}
</div>