@model Todoku.Models.Merchant
@{
    ViewBag.Title = "Todoku";
}

<div>
    @using (Html.BeginForm("Edit","Registration")) {
    @Html.ValidationSummary(true, "Registration was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Registrasi</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.MerchantName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.MerchantName)
                @Html.ValidationMessageFor(m => m.MerchantName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.Country)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Country")
                @Html.ValidationMessageFor(m => m.address.Country)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.Province)
            </div>
            <div class="editor-field">
                @Html.DropDownList("Province")
                @Html.ValidationMessageFor(m => m.address.Province)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.address.City)
                @Html.ValidationMessageFor(m => m.address.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.address.Address)
                @Html.ValidationMessageFor(m => m.address.Address)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.ZipCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.address.ZipCode)
                @Html.ValidationMessageFor(m => m.address.ZipCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.Phone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.address.Phone)
                @Html.ValidationMessageFor(m => m.address.Phone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.Handphone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.address.Handphone)
                @Html.ValidationMessageFor(m => m.address.Handphone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.address.Email)
                @Html.ValidationMessageFor(m => m.address.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.Email2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.address.Email2)
                @Html.ValidationMessageFor(m => m.address.Email2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.address.FaxNo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.address.FaxNo)
                @Html.ValidationMessageFor(m => m.address.FaxNo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    </div>
}
</div>
