@model Todoku.Models.PurchaseOrderHd

@{
    ViewBag.Title = "Todoku";
}

<script>
    $(function () {
        $("#btnConfirm").click(function () {
            $data = $(this).closest("form");
            var data = { OrderNo: $data.find("#OrderNo").val(), PayerName: $data.find("#PayerName").val(), SenderAccountNo: $data.find("#SenderAccountNo").val(), TransferAmount: $data.find("#TransferAmount").val() };
            OnSaveData('@Url.Content("~/PurchaseOrder/ConfirmWithAjax")', data, function (result) {
                window.location.href = '@Url.Content("~/Stores/")';
            });
        });
    });
</script>
<h2>Konfirmasi</h2>

<div>
    <p>
        Silahkan Konfirmasi Pembayaran pada halaman ini sesuai dengan nama pada rekening anda
    </p>
</div>
@using (Html.BeginForm("Confirm", "PurchaseOrder"))
{   @Html.HiddenFor(model => model.OrderNo)

    <div class="editor-label">
        @Html.LabelFor(model => model.PayerName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PayerName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.SenderAccountNo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.SenderAccountNo)
    </div>
    
    <div class="editor-label">
        Bank
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.bank.BankName)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.TransferAmount)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.TransferAmount, new { @class="txtNumber" })
    </div>
    <p>
        <input type="button" id="btnConfirm" value="Konfirmasi" />
    </p>
}