@model Todoku.Models.ShippingAddresses

@{
    ViewBag.Title = "DeleteShippingAddress";
}

<h2>DeleteShippingAddress</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ShippingAddresses</legend>

    <div class="display-label">AddressName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressName)
    </div>

    <div class="display-label">ZipCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipCode)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">Province</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">Handphone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Handphone)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Email2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email2)
    </div>

    

</fieldset>
@using (Html.BeginForm("DeleteShippingAddress")) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
