@model Todoku.Models.PurchaseOrderHd

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(function () {
        $('body').on('click', '.btnSearchAddress', function () {
            var url = window.location.origin + "/Todoku/Ajax/GetListObject/";
            var filterExpression = 'UserProfileID = @Model.CustomerID';
            GetListObject(url, 'GetShippingAddressList', filterExpression, null, null, function (result) {
                var data = { lstAddress: result };
                var buttons = {
                    "Pilih": function () {
                        var id = $('#hdnSelectedValue').val();
                        GetListObject(url, 'GetShippingAddressList', "ShippingID = " + id, null, null, function (result) {
                            SetAddress(result);
                        });
                        $('#hdnSelectedValue').val("");
                        $(this).dialog("close");
                    },
                    "Batal": function () { $('#hdnSelectedValue').val(""); $(this).dialog("close"); }
                }
                OpenDialog({
                    DialogTitle: "Alamat Pengiriman",
                    DialogID: "AddressDialog",
                    Data: data,
                    Template: "AddressTemplate",
                    buttons: buttons
                });
            });
        });

        $('body').on('change', '.ShippingService', function () {
            $('#hdnShippingSelectedValue').val($(this).val());
            $('#ShippingCharges').val($(this).val().split('|')[1]);
        });

        $('.txtNumber').number(true, 0, ',', '.');
    });

    function SetAddress(result) {
        var url = "http://localhost:8081/rajaongkir/cost/";

        $('#Address').val(
                            "Provinsi : " + result[0].ScProvince.StandardCodeName + "\r\n" +
                            "Kota : " + result[0].City + "\r\n" +
                            "Alamat : " + result[0].Address + "\r\n" +
                            "Kode Pos : " + result[0].ZipCode
                            );
        $('#hdnShippingProvince').val(result[0].RajaOngkir_Province_ID);
        $('#hdnShippingCity').val(result[0].RajaOngkir_City_ID);

        var data = { origin: $('#hdnStoreAddress').val(), destination: $('#hdnShippingCity').val(), weight: $('#hdnTotalWeight').val(), courier: 'jne' };
        AjaxFunction(url, data, "POST", function (result) {
            console.log(result);
            $('#lstShipping').html('');
            $('#ShippingTemplate').tmpl(result).appendTo('#lstShipping');
        });
    }
</script>

<script id="ShippingTemplate" type="text/x-jquery-tmpl">
    <input type="hidden" value="" id="hdnShippingSelectedValue"/>
    <div>
        {{each rajaongkir.results}}
            <div><h3>${name}</h3>
                {{each costs}}
                    <table>
                        <colgroup>
                            <col width="3px" />
                            <col width="70px" />
                            <col width="3px" />
                            <col width="50px"/>
                            <col />
                        </colgroup>
                        <tr>
                            <td><input type="radio" class="ShippingService" name="ShippingService" value="${description} (${service})|${cost[0].value}"></td>
                            <td colspan="4"><b>${description} (${service})</b></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Harga</td>
                            <td>:</td>
                            <td class="txtNumber">${cost[0].value}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Waktu</td>
                            <td>:</td>
                            <td>${cost[0].etd} hari</td>
                            <td></td>
                        </tr>
                    </table>
                {{/each}}
            </div>
        {{/each}}
    </div>
</script>

<h2>Konfirmasi Pemesanan</h2>

<div class="editor-label">
    @Html.LabelFor(model => model.OrderNo)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.OrderNo)
</div>

@foreach (var item in Model.orderdetails)
{ 
    <div style="width:100%; border:1px solid black; margin-bottom:5px;">
        <img alt="Image not found" style="max-height:75px; max-width:75px;" src="@Url.Content(@item.cart.product.ImgLink)"/>
        <div>@Html.DisplayFor(model => item.cart.product.ProductName)</div>
        <div>Harga : @Html.DisplayFor(x => item.cart.product.detail.Price)</div>
        <div>Jumlah @Html.DisplayFor(model => item.cart.Quantity) pcs</div>
        <div>Total @Html.DisplayFor(model => item.cart.LineAmount)</div>
    </div>
}
<p>
    Total Belanjaan : @Model.orderdetails.Sum(x => x.cart.LineAmount).ToString("C")
</p>
@using (Html.BeginForm("Confirmation", "PurchaseOrder"))
{ 
    @Html.HiddenFor(model => model.OrderNo);
    <input type="hidden" id="hdnTotalWeight" value="@ViewBag.TotalWeight"/>
    <input type="hidden" id="hdnStoreAddress" value="@Model.merchant.address.RajaOngkir_City_ID"/>
    @Html.HiddenFor(model => Model.ShippingCharges);
    <div class="editor-label">
        @Html.LabelFor(model => Model.AgentID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => Model.AgentID)<input type="button" id="btnSearch" value="Search" />
    </div>
    
    <div class="editor-label">
        @Html.Label("Alamat Pengiriman")
    </div>
    <div class="editor-field">
        <input type="hidden" id="hdnShippingProvince" value="" />
        <input type="hidden" id="hdnShippingCity" value="" />
        @Html.TextAreaFor(model => model.Address, new { @readonly = "readonly" })<br/>
        <input type="button" class="btnSearchAddress" value="Search" />
    </div>
    
    <div class="editor-label">
        @Html.Label("Pengiriman")
    </div>
    <div id="lstShipping"></div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.PaymentMehod)
    </div>
    <div class="editor-field">
        <table>
            <colgroup>
                <col width="3px"/>
                <col width="200px"/>
                <col width="100px"/>
                <col width="200px"/>
            </colgroup>
            @foreach (var item in (List<Todoku.Models.Bank>)ViewBag.Banks)
            {
                <tr>
                    <td>
                        @Html.RadioButtonFor(model => new Todoku.Models.PurchaseOrderConfirmation().BankID, item.BankID, item.BankID == 1 ? new { @checked = true } : null)
                    </td>
                    <td>
                        @*<img src="" class="@item.ImgLink" alt="" onError="this.src='@Url.Content("~/Content/Image/Product/img_not_found.jpg")'" />*@
                        <img src="" class="@item.ImgLink" alt="" onError="" />
                        @item.BankName
                    </td>
                    <td>@item.AccountName</td>
                    <td>No Rekening : @item.AccountNo</td>
                </tr>
            }
        </table>
    </div>
    <div>
        <input type="submit" value="Bayar" />
    </div>
}