@model List<Todoku.Models.PurchaseOrderHd>
@{
    ViewBag.Title = "Todoku";
}
<script type="text/javascript">
    $(function () {
        $('body').on('click', "input[type='button']", function () {
            $div = $(this).closest('div');
            var data = { OrderNo: $div.find('.keyField').val(), PayerName: $div.find('#item_PayerName').val(), SenderAccountNo: $div.find('#item_SenderAccountNo').val(), TransferAmount: $div.find('.txtNumber').val() }
            OnSaveData('@Url.Content("~/PurchaseOrder/ConfirmWithAjax")', data, function (result) {
                window.location.href = '@Url.Content("~/Members/Home/PaymentConfirmation")';
            });
        });
    });
</script>
<h2>Konfirmasi Pembayaran</h2>
@foreach (var item in Model)
{ 
    <div style="border:1px solid black; margin-bottom:3px;">
        @Html.HiddenFor(model => item.OrderNo, new { @class="keyField" })        
        <table>
            <tr>
                <td>@Html.LabelFor(model => item.OrderNo)</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.OrderNo)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => item.PayerName)</td>
                <td>:</td>
                <td>@Html.EditorFor(model => item.PayerName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => item.SenderAccountNo)</td>
                <td>:</td>
                <td>@Html.EditorFor(model => item.SenderAccountNo)</td>
            </tr>
            <tr>
                <td>Bank</td>
                <td>:</td>
                <td>@Html.DisplayFor(model => item.bank.BankName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => item.TransferAmount)</td>
                <td>:</td>
                <td><input type="text" value="@item.TransferAmount" class="txtNumber"></td>
            </tr>
        </table>
        <p><input type="button" value="Konfirmasi" class="btnConfirm" /></p>
    </div>
}